.movie-list {
  margin-top: 0.5em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;

  app-movie-card {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .movie-list {
    flex-direction: column;

    app-movie-card {
      width: 100%;
    }
  }
}