mat-card {
  margin: 0.5em;
}

app-homeworld-card {
  display: flex;
  justify-content: center;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper {
  margin: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
}
