.people-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  app-person-card {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .people-list {
    flex-direction: column;

    app-person-card {
      width: 100%;
    }
  }
}
